<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Giorgio Carta - Field Notes{% endblock %}</title>
    <link rel="stylesheet" href="{{ root_path }}static/style.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <header>
                <img src="{{ root_path }}static/profile.jpeg" alt="Profile Picture" class="profile-picture">
                <h1><a href="{{ root_path }}index.html">My Blog</a></h1>
                <p class="sidebar-subtitle">Giorgio Carta's Blog</p>
            </header>
            <nav>
                <ul>
                    {% for post in posts %}
                    <li><a href="{{ root_path }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
